<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Add vibration permission -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Attribution tags for system services tracking -->
    <attribution
        android:tag="quiz_feedback"
        android:label="@string/quiz_feedback_attribution" />

    <application
        android:name=".QuizApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CppQuizApp"
        android:largeHeap="false"
        tools:targetApi="31">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CppQuizApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CategorySelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.CppQuizApp"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.QuizActivity"
            android:exported="false"
            android:theme="@style/Theme.CppQuizApp" />
        <activity
            android:name=".ui.ResultsActivity"
            android:exported="false"
            android:theme="@style/Theme.CppQuizApp" />
         <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.CppQuizApp"
            android:parentActivityName=".ui.MainActivity" />
    </application>

</manifest>

